<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'registration.css'%}">
    <script src="{% static 'check_pass.js'%}" type="text/javascript"> </script>
</head>
<body background="{% static 'img/reg2.jpg'%}">
 <div class="wrapper">
     <div class="title">Registration Form</div>
     <form action="" method="POST">
         {% csrf_token %}
     <div class="form">
         <div class="input_field">
             <label>First Name</label>
             <input autocomplete="off" type="text" class="input" name="first_name" required>
         </div>
         <div class="input_field">
             <label>Last Name</label>
             <input autocomplete="off" type="text" class="input" name="last_name" required>
         </div>
         <div class="input_field">
             <label>User Name</label>
             <input autocomplete="off" type="text" class="input" name="username" required>
         </div>
         <div class="input_field">
             <label>Password</label>
             <input autocomplete="off" type="password" id="password" class="input"name="password" required>
         </div>
         <div class="input_field">
             <label>Confirm Password</label>
             <input autocomplete="off" type="password" id="confirm_password" class="input" name="confirm_password" required>
         </div>

         <div class="input_field">
             <label>Gender(M/F)</label>
             <input autocomplete="off" type="text" class="input" name="gender" id="gender" required>
         </div>
         <div class="input_field">
             <label>Email</label>
             <input autocomplete="off" type="email" class="input" name="email" required>
         </div>
         <div class="input_field">
             <label>Phone Number</label>
             <input autocomplete="off" type="text" class="input" name="phone_no" id="phone_no" required>
         </div>
         <div class="input_field">
             <label>City</label>
             <input autocomplete="off" type="text" class="input" name="city" required>
         </div>
         <div class="input_field">
             <input type="submit" onclick="return checkpass()" value="Insert" class="btn" >
         </div>
     </div>
         {% if massages %}
         {% for massage in massages %}
         <h2>Registration Completed</h2>
         <a href="{% url 'login page' %}">login now</a>
         {% endfor %}
         {% endif%}
 </form>
 </div>
</body>
</html>